@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .form-check-input {
    @apply bg-[url("../assets/check.svg")];
  }

  .popup {
    animation: popup 0.5s ease forwards;
  }

  @keyframes popup {
    from {
      transform: translate(-50%, -20px);
      opacity: 0;
    }
    to {
      transform: translate(-50%, 0px);
      opacity: 1;
    }
  }
}
